.containerSkills {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 4.313rem;

    margin-top: 322px;
    // margin-bottom: 16px;

    .yellowText {
        // position: absolute;
        // height: 49px;
        margin-bottom: 16px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 29px;

        background: linear-gradient(to right, #FFDA15, #FFA115);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .whiteText {
        // position: absolute;
        margin-bottom: 16px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 81px;
        /* identical to box height */

        color: #FFFFFF;
    }

    .grayText {
        // position: absolute;
        margin-bottom: 56px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 34px;
        /* or 155% */

        color: #78748C;
    }

    .inputSkill{
        // position: absolute;
        margin-bottom: 56px;

        background-color: transparent;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        caret-color: #15F7D9;
        /* identical to box height */

        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        border-bottom: solid #6A6879;
        color: #6A6879;
    }

    .inputSkill:focus {
        color: #15F7D9;
        border-bottom: solid #15F7D9;
        pointer-events: none;
        outline: none !important;
    }

    .greenButton {
        position: absolute;
        width: 298px;
        height: 66px;
        // margin-right: 81px;
        right: 151px;
        top: 707px;
    }

    button {
        margin-right: 14px;
    }

    .skillButton {
        // button {
            padding: 13px 35px;
    
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
    
            border: 1px solid #9FAAB9;
            box-sizing: border-box;
            border-radius: 50px;
    
            background: transparent;
            color: #FFFFFF;
    
            margin-bottom: 134px;
    
            cursor: pointer;
        // }
        
    }

    .btnSkill {
        display: flex;
    }  
      
    .selectedSkillsHeader{
        display: flex;
        // color: var(--white);
        background: linear-gradient(to right, #FFDA15, #FFA115);

        // margin-bottom: -120px;
        
        width: 863px;
        height: 104px;
        border-radius: 20px 20px 0 0;
    
        justify-content: space-between;

        padding: 23px 42px;
        // overflow: hidden;
        overflow: hidden;

        // margin-bottom: -200px;


        .mainHeader {
            display: flex;
            width: 763px;
            justify-content: space-between;
        
            color: var(--blackHeader);


            #textHeaderSkillsLeft{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }

            #textHeaderSkillsRight {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 29px;
            }
            
        }
    }

    .selectedSkillsBody{
        display: flex;
        
        background: var(--white);

        margin-top: -30px;
        
        width: 863px;
        // height: 104px;
        border-radius: 20px 20px 0 0;
    
        justify-content: space-between;

        padding: 23px 42px;
        overflow: hidden;
        // margin-bottom: -200px;


        .mainBody {
            position: relative;
            width: 100%;
            // background-color: #15F7D9;
        
            color: var(--blackHeader);
            margin-bottom: 5px;

            table {
                width: 100%;
            };

            

            td:first-child {

                // padding: 0;

            }

            .tdSkill {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 29px;

                padding-bottom: 33px;

            }

            .tdBtnRemove {
                
                text-align: right;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;

                color: var(--red);
                padding-bottom: 33px;
            }
        }
    }
}
