.containerSkills {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 4.313rem;

    margin-top: 322px;
    // margin-bottom: 16px;

    .yellowText {
        // position: absolute;
        // height: 49px;
        margin-bottom: 16px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 29px;

        background: linear-gradient(to right, #FFDA15, #FFA115);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .whiteText {
        // position: absolute;
        margin-bottom: 16px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 81px;
        /* identical to box height */

        color: #FFFFFF;
    }

    .grayText {
        // position: absolute;
        margin-bottom: 56px;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 34px;
        /* or 155% */

        color: #78748C;
    }

    .inputSkill{
        // position: absolute;
        margin-bottom: 56px;

        background-color: transparent;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        caret-color: #15F7D9;
        /* identical to box height */

        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        border-bottom: solid #6A6879;
        color: #6A6879;
    }

    .inputSkill:focus {
        color: #15F7D9;
        border-bottom: solid #15F7D9;
        pointer-events: none;
        outline: none !important;
    }

    .greenButton {
        position: absolute;
        width: 298px;
        height: 66px;
        // margin-right: 81px;
        right: 151px;
        top: 707px;
    }

    button {
        margin-right: 14px;
    }

    .btnSkill {
        display: flex;
    }  
      
    .selectedSkills {
        display: flex;
        color: var(--white);
        background: linear-gradient(to right, #FFDA15, #FFA115);
        
        width: 863px;
        height: 600px;
        border-radius: 20px;
    
        justify-content: space-between;

        padding: 23px 42px;

        margin-bottom: -200px;


        .mainHeader {
            display: flex;
            width: 763px;
            justify-content: space-between !important;
        
            color: #131218;


            #textHeaderSkillsLeft{
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }

            #textHeaderSkillsRight {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 29px;
            }
            
        }
    }
}
